---
layout: default
title: Publications
---

<section class="publications-list" aria-label="Publications">
  {% for publication in site.data.publications %}
    <a href="{{ publication.url }}" target="_blank" rel="noopener noreferrer" class="publication-link">
      <article class="publication">
        <div class="title">{{ publication.title }}</div>
        <div class="journal">{{ publication.journal }}</div>
        <div class="year">{{ publication.year }}</div>
        <ul class="authors">
          {% for author in publication.authors %}
            <li>{{ author }}</li>
          {% endfor %}
        </ul>
      </article>
    </a>
  {% endfor %}
</section>
