{% if site.social_links.github %}
  <a href="{{ site.social_links.github }}" target="_blank"><i class="fab fa-github"></i></a>
{% endif %}
{% if site.social_links.orcid %}
  <a href="{{ site.social_links.orcid }}" target="_blank"><i class="fab fa-orcid"></i></a>
{% endif %}
{% if site.social_links.google %}
  <a href="{{ site.social_links.google }}" target="_blank"><i class="fab fa-google"></i></a>
{% endif %}
{% if site.social_links.researchgate %}
  <a href="{{ site.social_links.researchgate }}" target="_blank"><i class="fab fa-researchgate"></i></a>
{% endif %}
{% if site.social_links.openpowerlifting %}
  <a href="{{ site.social_links.openpowerlifting }}" target="_blank"><i class="fas fa-dumbbell"></i></a>
{% endif %}
